@font-face {
  font-family: 'Fira Sans';
  src: url(../fonts/FiraSans-Regular.ttf) format('truetype');
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url(../fonts/FiraSans-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0px;
  color: #141414;
  margin-bottom: 1000px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

.container-texto-principal {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 38ch;
  margin-bottom: 60px;
  color: #525252;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}